<h1>{{title}}</h1>
<p>Velkommen til {{title}}</p>

<br>
<h6>Her får du endpoints valgmuligheder:</h6>

<nav class="nav flex-column">
    <a class="nav-link" href="/html/konti.html">Statisk HTML konti-side</a>
    <a class="nav-link" href="accounts">Dynamisk HBS konti-side</a>
    <a class="nav-link" href="accountsJson">RESTful API - Konti</a>
    <a class="nav-link" href="costumers">Dynamisk HBS kunde-side</a>
    <a class="nav-link" href="costumersJson">RESTful API - Kunder</a>
    <a class="nav-link" href="/html/valutaModule.html">Valuta Komponent</a>
    <a class="nav-link" href="/html/dummyLogin.html">Login Dummy</a>

</nav>
<p id="date"></p>